version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - '8000:8000'
    environment:
      - APP_ENV=local
    tty: true
